# Ignore Directory
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/

# Ignore Assets
Assets/_TerrainAutoUpgrade/
Assets/ExplosiveLLC/
Assets/Kevin Iglesias/
Assets/Polygonal Metalon/
Assets/PolygonFantasyRivals/
Assets/PolygonKnights/
Assets/PolygonNature/
Assets/RPGPP_LT/
Assets/SkySerie Freebie/
Assets/Mini Legion Grunt PBR HP Polyart/
Assets/Mini Legion Rock Golem PBR HP Polyart/
Assets/Polytope Studio/
Assets/NEXON Font/
Assets/GUI Pro Kit Fantasy RPG/
Assets/PolygonParticleFX/
Assets/Scenes/
Assets/Fonts/
Assets/FreeDragons/

# Ignore Resources
Assets/Resources/Character/
Assets/Resources/Particle/
Assets/Resources/Props/
Assets/Resources/Rocks/
Assets/Resources/Terrain/
Assets/Resources/Vegetation/
Assets/Resources/Weapon/
Assets/Resources/Sprite/

# Ignore File
*.unity
*.csproj
*.sln
*.meta
*.mat
*.vsconfig
*.txt
*.renderTexture
*.prefab
*.png

# Ignore UnitTest
Assets/Scripts/UnitTest/