# Ignore Directory
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/

# Ignore Assets
Assets/_TerrainAutoUpgrade/
Assets/ExplosiveLLC/
Assets/Kevin Iglesias/
Assets/Polygonal Metalon/
Assets/PolygonFantasyRivals/
Assets/PolygonKnights/
Assets/PolygonNature/
Assets/RPGPP_LT/
Assets/SkySerie Freebie/

# Except Tables
Assets/Resources/Character/
Assets/Resources/Particle/
Assets/Resources/Props/
Assets/Resources/Rocks/
Assets/Resources/Terrain/
Assets/Resources/Vegetation/

# Ignore File
*.csproj
*.sln
*.meta
*.mat
*.vsconfig